
@{
    ViewBag.Title = "Eventos";
}

<h2>Gestión de eventos.</h2>
<br>
<div class="row" style="padding-bottom:10px">
    <input type="button" value="Nuevo evento" class="btn col-lg-3"
           onclick=" window.location.href='@Url.Action("NuevoEvento", "Eventos")'" />
</div>

<div class="row" style="padding-bottom:10px">
    <input type="button" value="Calendario de eventos" class="btn col-lg-3"
           onclick=" window.location.href='@Url.Action("CalendarioEventos", "Eventos")'" />
</div>

<div class="row" style="padding-bottom:10px">
    <input type="button" value="Listar eventos" class="btn col-lg-3"
           onclick=" window.location.href='@Url.Action("ListarEventos", "Eventos")'" />
</div>

