@model IEnumerable<SistemasColaborativos.Models.Evento>

@if (Model != null)
{
    <table class="table">
        <tr>
            <th class="col-lg-2">
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Objetivo)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Objetivo)
                </td>
            </tr>
        }
    </table>
}

