@model SistemasColaborativos.Models.ArchivoAdjunto

@{
    ViewBag.Title = "Subir archivo";
}

@using (Html.BeginForm("Crear", "ArchivosAdjuntos", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.TextBoxFor(model => model.Adjunto, new { type = "file", name = "Adjunto", id = "file", @class = "form-control col-md-offset-3 col-md-4" })

            <div class="col-md-offset-1 col-md-4">
                <input type="submit" value="Subir" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    //this code will be executed when a new file is selected
    var uploadField = document.getElementById("file");

    uploadField.onchange = function () {
        if (this.files[0].size > 2097152) {
            alert("El archivo no puede superar los 2 MB !");
            this.value = "";
        };
    };
</script>